<form>
    <div class="form-group">
        <label for="picture">Image à la une</label>
        <input type="file" class="form-control-file" id="picture">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="title">Titre</label>
            <input type="text" class="form-control" id="title" placeholder="Titre">
        </div>
        <div class="form-group col-md-6">
            <label for="categories">Catégories</label>
            <select id="categories" class="form-control">
                <option selected>Choisir...</option>
                <option>...</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="content">Contenu</label>
        <textarea id="content" class="form-control" rows="12"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>
