{% extends 'base.html.twig' %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>Ajouter un article</h1>

            {% include 'includes/_article_form.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}
